In [1]:
import pandas as pd

from sklearn.metrics import classification_report

In [2]:
df = pd.DataFrame({'glasses': ['yes', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'yes', 'no'],
                   'preds': ['yes', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'yes', 'yes']})

In [3]:
df

  glasses preds
0     yes   yes
1      no    no
2     yes   yes
3     yes    no
4     yes   yes
5      no   yes
6     yes    no
7     yes   yes
8      no   yes

In [4]:
df.glasses

0    yes
1     no
2    yes
3    yes
4    yes
5     no
6    yes
7    yes
8     no
Name: glasses, dtype: object

In [5]:
df.glasses.mode()

0    yes
Name: glasses, dtype: object

In [8]:
df['baseline'] = 'yes'
df

  glasses preds baseline
0     yes   yes      yes
1      no    no      yes
2     yes   yes      yes
3     yes    no      yes
4     yes   yes      yes
5      no   yes      yes
6     yes    no      yes
7     yes   yes      yes
8      no   yes      yes

In [7]:
pd.crosstab(df.glasses)

  glasses preds baseline
0     yes   yes      yes
1      no    no      yes
2     yes   yes      yes
3     yes    no      yes
4     yes   yes      yes
5      no   yes      yes
6     yes    no      yes
7     yes   yes      yes
8      no   yes      yes

<div style='background-color: #F5F5F5; padding-left: 40px; padding-top: 10px; padding-bottom: 10px; padding-right: 10px; color: #1A5E7F; font-size: 18px; box-sizing: border-box;'>
Accuraccy is the number of correct guesses over all guesses.

Acuracy is 5/9

Precision is the number of true positives over all positive guesses. 
Precision 4/6

Recall is the number

In [9]:
pd.crosstab(df.glasses, df.baseline)

baseline  yes
glasses
no          3
yes         6