<h1 class="alert alert-block alert-success" style="font-size: 20px;"> Methodologies I > Classification > Modeling > Logistics Regression</h1> 

<h2 class="alert alert-block alert-info" style="font-size: 20px;">Exercises</h2>
<h2 class="alert alert-block alert-info" style="font-size: 20px;">In these exercises, we'll continue working with the titanic dataset and building logistic regression models. Throughout this exercise, be sure you are training, evaluation, and comparing models on the train and validate datasets. The test dataset should only be used for your final model.
For all of the models you create, choose a threshold that optimizes for accuracy.
Create a new notebook,Â logistic_regression, use it to answer the following questions</h2>

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from prepare import titanic_pipeline

<h2 class="alert alert-block alert-info" style="font-size: 20px;">1. Create a model that includes only age, fare, and pclass. Does this model perform better than your baseline?</h2>

In [3]:
#Lets use the titanic pipeline to acquire and prepare the data
train, val, test = titanic_pipeline()
#Double check our results
print(train.shape, val.shape, test.shape)
train.head()

(623, 9) (134, 9) (134, 9)

     survived     sex   age  sibsp  parch     fare  class  embark_town  alone
748         0    male  19.0      1      0  53.1000  First  Southampton      0
45          0    male  29.0      0      0   8.0500  Third  Southampton      1
28          1  female  29.0      0      0   7.8792  Third   Queenstown      1
633         0    male  29.0      0      0   0.0000  First  Southampton      1
403         0    male  28.0      1      0  15.8500  Third  Southampton      0

In [4]:
#Create X_train (remove the target variable)
X_train = train.drop(columns = ['survived'])
#Create Y_train (only the target variable)
y_train = train.survived

#Create X_val (remove the target variable)
X_val = val.drop(columns = ['survived'])
#Create Y_val (only the target variable)
y_val = val.survived

In [5]:
#Create the dummy columns
X_train = pd.get_dummies(X_train)
X_val = pd.get_dummies(X_val)
#check results
X_train.head()

,age,sibsp,parch,fare,alone,sex_female,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
748,19.0,1,0,53.1000,0,False,True,True,False,False,False,False,True
45,29.0,0,0,8.0500,1,False,True,False,False,True,False,False,True
28,29.0,0,0,7.8792,1,True,False,False,False,True,False,True,False
633,29.0,0,0,0.0000,1,False,True,True,False,False,False,False,True
403,28.0,1,0,15.8500,0,False,True,False,False,True,False,False,True

In [9]:
seed = 42

logreg = LogisticRegression(random_state = seed, max_iter = 400)

logreg.fit(X_train, y_train)

logreg.score(X_train, y_train), logreg.score(X_val, y_val)

(0.7993579454253612, 0.8507462686567164)

<h2 class="alert alert-block alert-info" style="font-size: 20px;">2. Include sex in your model as well. Note that you'll need to encode or create a dummy variable of this feature before including it in a model.</h2>

<h2 class="alert alert-block alert-info" style="font-size: 20px;">3. Try out other combinations of features and models.</h2>

<h2 class="alert alert-block alert-info" style="font-size: 20px;">4. Use you best 3 models to predict and evaluate on your validate sample.</h2>

<h2 class="alert alert-block alert-info" style="font-size: 20px;">5. Choose you best model from the validation performation, and evaluate it on the test dataset. How do the performance metrics compare to validate? to train?</h2>